<%- include('../../partials/master-part-1.ejs') %>
    <div class="col-md-12 box">
        <h3> Attendance CRUD </h3>
        <form method="POST">
            <div class="col-md-6">
                <div class="form-group">
                    <label> Operation Type </label>
                    <select class="form-control select2" name="operation_type">
                        <option value="attendance"> attendance </option>
                        <option value="leave"> leave </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label> Operation Date </label>
                    <input class="form-control datetime" placeholder="YYYY-MM-DD HH:MM:SS" name="operation_date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label> Employee </label>
                    <select class="form-control select2" name="employee_id">
                        <option value="">Select Employee</option>
                        <% employees.forEach(employee => { %>
                            <option value="<%= employee.id %>"> <%= employee.name %> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary"> Save </button>
            </div>
        </form>
    </div>
<%- include('../../partials/master-part-2.ejs') %>
	<script>
        // custom js here
    </script>
<%- include('../../partials/master-part-3.ejs') %>