<%- include('../../partials/master-part-1.ejs') %>
    <div class="col-md-12 box">
        <a href="/salaries/create" class="btn btn-success pull-right">
            <i class="fa fa-plus"></i>
        </a>
        <h3 class="pull-left"> Salaries CRUD </h3>
        <div class="clearfix"></div>
        <% if (alert_message != '' && alert_message != undefined) { %>
            <div class="alert alert-success">
                <%= alert_message %>
            </div>
        <% }%>
        <table class="table table-responsive table-bordered table-striped" style="margin-top: 15px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>Salary</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% models.forEach(model => { %>
                    <% let date_from = new Date(model.date_from).toLocaleDateString("en-CA", {timeZone: "Africa/Cairo"}) %>
                    <% let date_to = new Date(model.date_to).toLocaleDateString("en-CA", {timeZone: "Africa/Cairo"}) %>
                    <tr>
                        <td> <%= model.id %> </td>
                        <td> <%= model.employee?.name %> </td>
                        <td> <%= model.salary %> </td>
                        <td> <%= date_from %> </td>
                        <td> <%= date_to %> </td>
                        <td>
                            <a href="/salaries/edit/<%= model.id %>" class="btn btn-info">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button class="btn btn-danger" onclick="delete_me('/salaries/delete/<%= model.id %>')">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <%- include('../../partials/index-pagination.ejs') %>
    </div>
<%- include('../../partials/master-part-2.ejs') %>
	<script>
        // custom js here
    </script>
<%- include('../../partials/master-part-3.ejs') %>