<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel" style="margin-bottom: 50px;overflow: inherit;">
            <div class="pull-left info">
                <p> Admin Panel </p>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="<%= current_uri == '/dashboard' ? 'active' : '' %>">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <% if (typeof admin != 'undefined' && admin.is_super_admin == 1) { %>
                <li class="<%= current_uri == '/admins' ? 'active' : '' %>">
                    <a href="/admins">
                        <i class="fa fa-lock"></i> <span>Admins</span>
                    </a>
                </li>
            <% } %>
            <li class="treeview <%= current_group == 'hr' ? 'active open' : '' %>" style="height: auto;">
                <a href="#">
                    <i class="fa fa-suitcase"></i> <span>HR</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="<%= current_uri == '/job-titles' ? 'active' : '' %>">
                        <a href="/job-titles">
                            <i class="fa fa-tags"></i> Job Titles
                        </a>
                    </li>
                    <li class="<%= current_uri == '/employee-settings' ? 'active' : '' %>">
                        <a href="/employee-settings">
                            <i class="fa fa-cog"></i> Employee Settings
                        </a>
                    </li>
                    <li class="<%= current_uri == '/employees' ? 'active' : '' %>">
                        <a href="/employees">
                            <i class="fa fa-users"></i> Employees
                        </a>
                    </li>
                    <li class="<%= current_uri == '/attendance' ? 'active' : '' %>">
                        <a href="/attendance">
                            <i class="fa fa-calendar"></i> Attendance
                        </a>
                    </li>
                    <li class="<%= current_uri == '/deduction-bonuses' ? 'active' : '' %>">
                        <a href="/deduction-bonuses">
                            <i class="fa fa-money"></i> Deduction & Bonuses
                        </a>
                    </li>
                    <li class="<%= current_uri == '/advances' ? 'active' : '' %>">
                        <a href="/advances">
                            <i class="fa fa-credit-card"></i> Advances
                        </a>
                    </li>
                    <li class="<%= current_uri == '/salaries' ? 'active' : '' %>">
                        <a href="/salaries">
                            <i class="fa fa-money"></i> Salaries
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> <span>Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
